@import "../../../utils/constants.scss";

header {
    height: 3vh;
    display: flex;
    justify-content: space-evenly;
    background-image: url("https://t4.ftcdn.net/jpg/04/15/64/19/360_F_415641979_KPJ6G5AUnIIJgEmS7lSmeb0j60zlTxzd.jpg");

    & > div {
        a {
            color: white;
        }
    }
}
