.upgrades-container {
    height: 97vh;
    width: 25%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    h1 {
        text-align: center;
        color: white;
        font-size: 32px;
        padding: 20px;
        margin: 0;
    }

    .multipliers-container {
        display: flex;
        flex-wrap: wrap;
        height: 80px;
        overflow: hidden;

        &:hover {
            min-height: 80px;
            height: auto;
        }
    }

    .control-container {
        display: flex;
        flex-wrap: wrap;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
        font-size: 1.2vw;

        & > span {
            display: block;
            margin: 0 2vw;
        }

        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin: 0 10px;
            box-sizing: border-box;
            border: 1px inset transparent;
            cursor: pointer;

            &:hover {
                background-color: black;
                border: 1px inset white;
            }
        }

        p {
            margin: 5px 0;
            cursor: pointer;

            &.inactive {
                color: grey;
            }

            &.active {
                color: white;
            }
        }
    }
}
