.farms-container {
    width: 40%;
    height: 97vh;

    .farm-container-header {
        height: 100px;
        display: flex;

        .farm-header-sides {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            cursor: pointer;
        }

        .stats {
            background-size: 200% 200%;
        }

        .random-texts {
            width: 60%;
            padding: 10px;

            .author {
                text-align: end;
            }
        }

        .options {
        }
    }

    .farm-items-scrollable {
        height: calc(97vh - 110px);
        overflow: auto;
    }
}
