.farms-container {
    width: 40%;
    height: 97vh;

    .farm-container-header {
        height: 100px;
        display: flex;

        .farm-header-sides {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("https://opengameart.org/sites/default/files/styles/medium/public/space1.png");
            font-size: 24px;
        }

        .stats {
        }

        .random-texts {
            width: 60%;
        }

        .options {
        }
    }

    .farm-items-scrollable {
        height: calc(97vh - 110px);
        overflow: auto;
    }
}
