.multiplier-hover-container {
    display: none;
    position: fixed;
    right: 25%;
    top: 15vh;
    min-width: 400px;
    min-height: 100px;
    z-index: 2;
    background-color: black;
    border: 1px solid white;
    padding: 10px;

    .top-part {
        display: flex;

        .avatar {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .info {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .price {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f66;

            &.available {
                color: #6f6;
            }
        }
    }
}
