body {
    margin: 0;
    height: 100vh;
    color: white;
}

#root {
    width: 100%;
    height: 100%;
}

.game-wrapper {
    height: 97vh;
    display: flex;
    background-size: 100% 100%;
}

.line-vertical {
    width: 10px;
    height: 97vh;
}

.line-horizontal {
    width: 100%;
    height: 10px;
}

a {
    text-decoration: none;
}

.scrollable {
    overflow: auto;
}

.display-none {
    display: none;
}

.disabled-upgrade {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: end;
}

.mg-0 {
    margin: 0;
}
